@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
<div class="col-sm-6 m-auto mt-3">
    <div class="text-center">
        <h1 class="fw-semibold text-danger">Welcome</h1>
        <h2 class="text-secondary">to this Project</h2>
        <br />
        <h4 class="text-info">This project is used to create a dynamic page with given URL where we can perform all the <span class="text-primary fw-bold">CRUD</span> (Create, Read, Update, Delete) operations.</h4>
        <h4 class="text-danger fw-semibold">:)</h4>
    </div>
</div>

