@model PageDetailsViewModel

@{
    ViewData["Title"] = Model.Post.PageTitle;
    string photoPath = "~/files/" + (Model.Post.PhotoPath ?? "default.jpg");
}

<h1 class="text-center my-3">@Model.Post.PageTitle</h1>
<div class="row">
    <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        @Html.Raw(Model.Post.PageContent)
    </div>
    <div class="col-sm-6 d-flex justify-content-center align-items-center">
        <img src="@photoPath" asp-append-version="true" style="width: 500px; height: auto" />
    </div>
</div>

